.pagination>li.active>a {
  background: #212529;
  color: #fff;
  border-color: #ddd;
}
.pagination>li.active>a:focus {
  background: #212529;
  color: #fff;
}
.pagination>li.active>a:hover {
  background: #212529;
  color: #fff;
}
.pagination>li>a {
background-color: white;
  color: #212529;
}

.pagination>li>a:focus {
  color: #212529;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #212529;
    background-color: #eee;
    border-color: #ddd;
}